<template name="projectDetail">
{{#if Template.subscriptionsReady}}
  {{#if project}}
	<section id="projectDetail" class="project-detail" data-project-id="{{project.projectId}}">
    <aside class="active">
      <div class="project-content">
      <h3>Project</h3>
        <span class="project-name">{{project.name}}</span>
        <h3>Date</h3>
        <span class="project-year">{{project.year}}</span>
        <h3>Agency</h3>
        <span class="project-agency">{{project.agency}}</span>
        <h3>Description</h3>
        <span class="project-details">{{project.details}}</span>
        <h3>Tags</h3>
				<ul class="project-tags">
					{{#each project.tags}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
      </div>
    </aside>
    <main>
      <ul id="slideshow" class="royalSlider">
				{{#let color = project.color}}
      	{{#each slides project}}
					<li class="rsSlide" style="background-color: {{project.color}}">
						<figure class="bg" >
							<img class="rsImg" src="{{this}}"/>
						</figure>
					</li>
				{{/each}}
				{{/let}}
      </ul>
    </main>
  </section>
	{{/if}}
{{/if}}
</template>
