<template name="projectDetail">
{{#if Template.subscriptionsReady}}
  {{#if project}}
	<section id="{{currentTemplateName}}" class="project-detail" data-project-id="{{project.projectId}}">
    <aside class="active">
      <div class="project-content">
      <h3>Project</h3>
        <span class="project-name">{{project.name}}</span>
        <h3>Date</h3>
        <span class="project-year">{{project.year}}</span>
        <h3>Agency</h3>
        <span class="project-agency">{{project.agency}}</span>
        <h3>Description</h3>
        <span class="project-details">{{project.details}}</span>
        <h3>Tags</h3>
				<ul class="project-tags">
					{{#each project.tags}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
      </div>
    </aside>
    <main>
      <!-- <div id="project-detailcarousel" class="carousel fade">
				<ul class="carousel-inner">
					{{#let color = project.color}}
	      	{{#each slides project}}
						<li class="carousel-item item" style="background-color: {{project.color}}">
							<figure class="bg" >
								<img class="carousel-image" src="{{this}}"/>
							</figure>
						</li>
					{{/each}}
					{{/let}}
				</ul>
      </div> -->
			{{> carousel project}}
    </main>
  </section>
	{{/if}}
{{/if}}
</template>
