<template name="projectList">
  <section id="projectList" class="scroll-horizontal active" style="width: auto">
    <ul class="projects-container">
      {{#each projects}} {{#let index = @index}}
      <li class="projectPane" id="index-{{projectId}}" data-index="{{@index}}">
        <div class="bg" style="background-image: url('images/projects/{{projectId}}/bg.jpg')"></div>
        <div class="info">
          <header>
            <span class="project-number">{{@index}}</span>
            <span class="project-name">{{name}}</span>
            <hr>
            <div class="project-tags">
              {{#each tags}}
              <span>{{this}}</span> {{/each}}
            </div>
          </header>
          <footer>
            <a href="{{pathFor 'project-detail' _id=_id}}" class="project-link"><i class="icon-angle-down"></i> View Project <i class="icon-angle-down"></i></a>
          </footer>
        </div>
      </li>
      {{/let}} {{/each}}
    </ul>
  </section>
</template>
