# Begin cache control #
ExpiresActive on
<FilesMatch "\.(bmp|png|ico|gff|jpg|jpeg|gif|gcf)$">
FileETag MTime Size
ExpiresDefault "now plus 240 minutes"
</FilesMatch>

ExpiresDefault "now plus 60 minutes"
ExpiresByType text/html "now plus 60 minutes"
<FilesMatch "\.(htm|html)$">
FileETag MTime Size
ExpiresDefault "now plus 60 minutes"
</FilesMatch>

<FilesMatch "\.(css|js)$">
FileETag MTime Size
ExpiresDefault "now plus 15 minutes"
</FilesMatch>


# End cache control #
AddType video/mp4 .mp4
AddType video/ogg .ogv
AddType video/webm .webm
Options +Indexes


<filesMatch "\.(html|htm|txt|js)$">
FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
<ifModule mod_deflate.c>
  <filesMatch "\.(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </filesMatch>
</ifModule>
</filesMatch>

