@import "../../utils/variables.css";

.header{
  background-color: rgba(0,0,0,.9);
  transform-origin: bottom left;
  transform: rotate(-90deg);
}
.row {
  padding: 40px;
}

.title {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: $screen-md) {
  .header {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }

}
