@import "../../utils/variables.css";

.header{
  position: absolute;
  top: 0;
  transform: translateX(1rem);
  background-color: rgba(0,0,0,.45);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:before{
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(0,0,0,.25);
    display: block;
    width: 200px;
    height: 200px;
    transform: translate(1rem, 1rem, 0);
  }
}
.logo{
  max-width: 100px;
}
