@import "../../utils/variables.css";
:global(main){
  background: #eee;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50.555%,rgba(237,237,237,1) 50.56%,rgba(255,255,255,1) 100%);
}

.content {
  display: flex;
  font-family: 'PT Sans', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
  flex-direction: column;
}
/*

PAGE Transitions
================
*/

:global(.page-enter){
  opacity: 0.01;
}
:global(.page-enter.page-enter-active){
  opacity: 1;
  transition: opacity 500ms ease-in;
}
:global(.page-leave){
  opacity: 1;
}
:global(.page-leave.page-leave-active){
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
