@import "../../utils/variables.css";

.content {
  margin: 0 auto;
  display: flex;
  font-family: 'PT Sans', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
  background: #eee;

  @media(min-width: $screen-md){
    flex-direction: row;
    padding: 2rem;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
  }
  @media(max-width: $screen-md){
    flex-direction: column;
  }
}

/*

PAGE Transitions
*/

:global(.page) {
  /*opacity: 0;*/
  position: absolute;
}
:global(.page-appear) {
  /*opacity: 0.01;*/
  transform: translateX(-100vw);
}

:global(.page-appear.page-appear-active) {
  transform: translateX(0vw);
  /*opacity: 1;*/
  transition: translateX 1s;
}

/*

PAGE ENTER
*/
:global(.page-enter) {
  opacity: 0.01;
  transform: translateX(-100vw);
}

:global(.page-enter.page-enter-active) {
  /*opacity: 1;*/
  transform: translateX(0vw);
  transition: translateX 1s;
}

/*

PAGE LEAVE
*/
:global(.page-leave) {
  transform: translateX(0vw);
  /*opacity: 1;*/
}

:global(.page-leave.page-leave-active) {
  transform: translateX(100vw);
  /*opacity: 0.01;*/
  transition: translateX 1s;
}
