@import "../../utils/variables.css";

.slider{
  display: flex;
  min-height: calc(500px + 1rem);
  width: 100%;
  flex-basis: 100%;
  flex-direction: column;
  position: relative;
  @media(min-width: $screen-sm){
    &:before, &:after{
      content: '';
      width: 1.85rem;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 10;
    }
    &:before {
      left: 0;
      background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
    }
    &:after{
      right: 0;
      background: linear-gradient(to left, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
    }
  }
}

:global(.scroll-horizontal){
  min-height: 600px;
  width: 100%;
  position: relative;
  /*flex: 1 0 auto;*/

  @media(min-width: $screen-sm) and (max-width: $screen-md){
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    & > div{
      display: inline-flex;
    }
  }
  @media(max-width: $screen-sm){
    flex-direction: row;
    justify-content: center;
  }
}

.project-card{
  margin: 0 .5rem 1rem;
  @media(min-width: $screen-sm){
    margin: 0 1rem 1rem;
    &:first-child{
      margin-left: 2rem;
    }
    &:last-child{
      margin-right: 2rem;
    }
  }
}
