@import "../../utils/variables.css";

.slider{
  display: flex;
  min-height: 500px;
  width: 100vw;
  flex-direction: column;
  position: relative;

  &:before, &:after{
    content: '';
    width: 1.85rem;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
  }
  &:before {
    left: 0;
    background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
  }
  &:after{
    right: 0;
    background: linear-gradient(to left, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
  }
}

:global(.scroll-horizontal){
  min-height: 500px;
  width: 100vw;
  flex: 1 1 auto;
  /*padding: 0 1rem;*/
  & > * {
    height: 100%;
  }
}
.project-list--mobile{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: row wrap;
}
.project-card{
  @media(min-width:$screen-sm){
    margin: 0 1rem 1rem;
    &:first-child{
      margin-left: 2rem;
    }
    &:last-child{
      margin-right: 2rem;
    }
  }
  @media(max-width:$screen-sm){
    margin: 0 1rem 1rem;
  }
}
