/*

BG

*/

.bg-cover {
  background: url(../img/bg_lightbox.png) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-contain {
  background: url(../img/bg_lightbox.png) no-repeat top center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
