---
import Base from '../layouts/Base.astro';
---

<Base title="About — JOEY">
  <div class="page">
    <h1>Hi.</h1>
    <div class="prose">
      <p>I'm Joseph Burdick.</p>
      <p>I make websites and web apps for clients big and small.</p>
      <p>
        I'm a developer with decades of experience and I currently reside in
        beautiful Brooklyn, New York. After developing a very popular social
        website in high school, I was hooked. Development is my passion and as
        a full-time technologist I love keeping up with the latest tech to
        solve problems efficiently.
      </p>
      <p>Catch me on any of the networks below!</p>
      <ul>
        <li><a href="https://www.github.com/josephdburdick">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/josephdburdick">LinkedIn</a></li>
      </ul>
      <a class="contact-cta" href="mailto:joe@presentday.io?subject=Hello!">
        Have a project in mind? Say hello
      </a>
    </div>
  </div>
</Base>
