// @import 'normalize.min';
// @import 'boilerplate';
@import 'royalslider';

// @import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300|Open+Sans+Condensed:300);

// @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
// @import 'scrollHint';
/* ————————————————————————————————————————————————————


   Joey
   2013
   ————————————————————————————————————————————————————
*/

/* ———————————————

   Variables
   ———————————————
*/
$default-text: normal 16px/1;
$font-face--condensed: 'Open Sans Condensed', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-face--default: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$spacing: 2px;
$accentColor-dark: #666;
$accentColor1: #31735d;
$accentColor2: #c06051;
$accentColor1rgba: rgba(49,115,93,.75);
$accentColor1: rgba(60,177,99,.9);
$menuWidth: 200px;
$menuWidthSmall: 80px;
$paneWidth: 310px;
$rgbaColor1: rgba(0,0,0,.15);
$pageTransitionSpeed: 0.5s;
$red: lighten($accentColor2,5%);

* {
  margin: 0;
  padding: 0;
}


html,
body {
  width: 100%;
  height: 100%;
	font: $default-text $font-face--default;
}

* + * {
	margin-bottom: 1em;
}

#__blaze-root{
	margin: 0;
}

/* ———————————————

   Animations
   ———————————————
*/
//greenBgPulse
@-webkit-keyframes greenBgPulse {
  0% {
    background: $accentColor1;
  }

  50% {
    background: darken($accentColor1, 10%);
  }

  100% {
    background: $accentColor1;
  }
}

@-moz-keyframes greenBgPulse {
  0% {
    background: $accentColor1;
  }

  50% {
    background: darken($accentColor1,10%);
  }

  100% {
    background: $accentColor1;
  }
}

@-o-keyframes greenBgPulse {
  0% {
    background: $accentColor1;
  }

  50% {
    background: darken($accentColor1,10%);
  }

  100% {
    background: $accentColor1;
  }
}

@keyframes greenBgPulse {
  0% {
    background: $accentColor1;
  }

  50% {
    background: darken($accentColor1,10%);
  }

  100% {
    background: $accentColor1;
  }
}

//greenBgPulseHover
@-webkit-keyframes greenBgPulseHover {
  0% {
    background: saturate($accentColor1,5%);
  }

  50% {
    background: saturate($accentColor1,20%);
  }

  100% {
    background: saturate($accentColor1,5%);
  }
}

@-moz-keyframes greenBgPulseHover {
  0% {
    background: saturate($accentColor1,5%);
  }

  50% {
    background: saturate($accentColor1,20%);
  }

  100% {
    background: saturate($accentColor1,5%);
  }
}

@-o-keyframes greenBgPulseHover {
  0% {
    background: saturate($accentColor1,5%);
  }

  50% {
    background: saturate($accentColor1,20%);
  }

  100% {
    background: saturate($accentColor1,5%);
  }
}

@keyframes greenBgPulseHover {
  0% {
    background: saturate($accentColor1,5%);
  }

  50% {
    background: saturate($accentColor1,20%);
  }

  100% {
    background: saturate($accentColor1,5%);
  }
}

//spin
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid rgba(255,255,255,.85);
  width: 70%;
  margin: 20px auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center!important;
}

.top-50 {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  text-align: center;
}

.spin {
  display: inline-block!important;
  -webkit-animation: spin $pageTransitionSpeed infinite;
  -moz-animation: spin $pageTransitionSpeed infinite;
  -o-animation: spin $pageTransitionSpeed infinite;
  animation: spin $pageTransitionSpeed infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

p {
  color: #333;
  line-height: 1.5;

  small {
    line-height: 1.3;
  }
}

a {
  outline: 0;
  color: $accentColor1;
  text-decoration: none;

  &:hover {
    color: lighten($accentColor1,5%);
  }
}

.bg-cover {
  background: url(../img/bg_lightbox.png) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-contain {
  background: url(../img/bg_lightbox.png) no-repeat top center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.bg-green {
  background: rgba(49,115,93,.85);
}

.vertical-block {
  text-align: center;
  height: 100%;
}

.vertical-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
}

.vertical-center {
  /*width:100%;*/
}

body {
  background: #222;
  font: 300 120%/1.45 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

#logo {
  display: block;
  background: url(../img/JOEY_logo_vertical.png) center center no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 26px;
  height: 62px;
  margin-left: -15px;

  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

/* ———————————————

   Menu
   ———————————————
*/
#face-mask {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  width: 100%;
  left: $paneWidth + $menuWidthSmall;
  display: none;
  z-index: 10;

  &.active {
    display: block;
  }
}

.button {
  padding: 10px 20px;
  border: 2px solid $accentColor1;

  &:hover,
  &:active {
    border-color: darken($accentColor1,10%);
    color: darken($accentColor1,10%);
  }
}

.alert {
  position: fixed;
  height: 100%;
  right: 0;
  top: 100%;
  width: 100%;
  left: 0;
  padding: 50px;
  z-index: -10;
  background: #fff;
  font-size: 150%;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: none;

  &.active {
    z-index: 9999;
    top: 0;
    display: block;
  }

  article {
    position: relative;
    margin: 40px auto;
    width: 70%;
    max-width: 800px;

    h3 {
      color: #ccc;
    }

    p {
      color: #ccc;
    }

    i {
      font-size: 300%;
      color: #ccc;
    }
  }
}

#nav-main {
  width: $menuWidthSmall;
  min-height: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  text-align: center;

  .btn-circle {
    margin: 20px 0 0;
  }

  &.trans {

  }
}

#nav-menu {

  //select on mobile
  padding: 0;
  margin: 0;

  a {
    display: block;
    padding: 10px;
    background: rgba(0,0,0,0);

    &:hover {
      padding-left: 20px;
      background: $accentColor1rgba;
      color: darken($accentColor1,40%);
      text-shadow: 0 1px 1px lighten($accentColor1,5%);
    }
  }
}

#menu {
  position: fixed;
  z-index: 0;
  top: 0;
  height: 100%;
  color: #ccc;
  text-align: center;
  width: $menuWidth;

  h1 {
    color: #eee;
  }
}

#main-body {
  z-index: 2;
  background: #000;
  position: relative;
  left: 0;
  border-top: 5px solid $accentColor2;
}

html.mobile {
  #menu {
    top: 0;
    height: auto;
    left: 0;
    right: 0;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #222 url(../img/pw_maze_black.png);
}
/* ———————————————

   Sections
   ———————————————
*/
section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
	margin: 0;

  &.section-loading--in {
		animation: sectionLoadingIn 2s;
  }

  &.section-loading--out {
    animation: sectionLoadingOut 2s;
  }
}

.mobile #index.active {
  overflow-x: hidden;
  overflow-y: scroll;
}

.projects-container {
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.scroll-horizontal {
  position: absolute;
  padding-left: $menuWidthSmall;
  height: 100%;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

  .project-list {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
  }
}
.project-pane {
	background-color: black;
	width: $paneWidth;
	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	display: flex;

	.bg {
		transition: all 0.1s ease-out;
	}

	.info-panel {
		transition: opacity 0.1s ease-out;
	}

	&.hover {
		.bg {
			-webkit-filter: grayscale(0.5) blur(5px);
		}

		.info-panel {
			opacity: 1;

			footer {
				a {
					border-bottom: 1px solid darken($accentColor1,10%);
					color: lighten($accentColor1,20%);
					animation: greenBgPulse 2s infinite;

					&:hover {
						color: lighten($accentColor1,30%);
						animation: greenBgPulseHover 2s infinite;
					}
				}
			}
		}
	}

	&.not-active {
		.bg {
			-webkit-filter: grayscale(0.5) blur(5px);
		}

		.info-panel {
			footer {
				a {
					background: #fff;
					color: $accentColor-dark;
				}
			}
		}
	}

	&.active {
		.bg {
			-webkit-filter: grayscale(0.5) blur(1px);
		}

		.info-panel {
			top: -50%;

			header {
				.project-number {

				}
			}

			footer {
				a {
					background: #fff;
					color: $accentColor-dark;
				}
			}
		}

		&.active:hover {
			.info-panel {
				top: 0;

				footer {
					a {
						background: #fff;
					}
				}
			}
		}
	}
}

.info-panel {
  font: $default-text $font-face--condensed;
  color: $accentColor-dark;
  text-transform: uppercase;
	padding-bottom: 60px;
	opacity: 0;
	vertical-align: middle;
	cursor: default;
	align-self: center;
	position: relative;
	margin: 0 auto;
  width: calc(100% - 12px);
	max-width: 320px;

	.project-pane &{
		text-align: center;
	}

  header {
    padding: 100px 10px;
    border-top: 1px solid #fff;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom, rgba(255,255,255,.9) 0%,rgba(254,255,244,1) 100%);

    & > span[class^="project"] {
      display: block;
      margin: 24px auto;
      text-shadow: 0 1px 0 #fff;

      &:first-child {
        margin-top: 0;
      }
    }

    .project-name {
      letter-spacing: $spacing;
    }

    .project-number {
      position: absolute;
      top: 40px;
      left: 50%;
      margin: 0 0 0 -15px !important;
      font-size: 70%;
      width: 30px;
      height: 30px;
      line-height: 28px;
      border: 1px solid #ccc;
      text-shadow: 0 1px 0 #fff;
      box-shadow: 0 1px 0 #fff;
      color: #ccc;
			border-radius: 9999rem;
    }
  }

  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    color: #666;
    text-align: center;
    line-height: 60px;
    letter-spacing: $spacing;
    background: rgba(255,255,255,.85);

    a {
      height: 60px;
      line-height: 60px;
      display: block;
      cursor: pointer;

      &:hover {
        background: saturate(rgba(60,177,99,.9),20%);
        color: darken(desaturate(rgba(60,177,99,.9),20%),20%);
      }
    }
  }
}

.project-tags {
	font-size: 0;
	line-height: 0;
  li {
    font-size: .85rem;
		line-height: 1;
    display: inline-block;
    background: #ddd;
    padding: 5px 10px;
    margin: 1px 2px 1px 0;
    text-transform: uppercase;
  }
}

#carousel{
	margin-bottom: 0;
}
.carousel-slide{
	display: flex;
	margin-bottom: 0;
	.bg {
		display: flex;
	  width: 100%;
	  height: 100vh;
	  text-align: center;
	  position: relative;
		justify-content: center;
		align-content: center;
	}
}
.carousel-image{
	display: flex;
	width: auto;
	max-height: 95%;
	align-self: center;
}

.btn-circle {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #333;
  cursor: pointer;

  i {

  }

  &:hover {
    background-color: #222;

    i {

    }
  }

  &.on,
  &.on:hover {
    background: #111;

    i {

    }
  }
}

.btnDetail,
.btnAbout,
.btnPrev,
.btnNext {
  z-index: -1;

  &.active {
    z-index: 5;
  }
}

.btnAbout {
  background: darken($accentColor1,10%);

  &.hover {
    background: darken($accentColor1,20%);

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 65px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #000 transparent transparent;
    }

    &:after {
      content: 'About Joey';
      font-family: $font-face--default;
      display: block;
      position: absolute;
      left: 75px;
      background: black;
      color: #ccc;
      z-index: 999;
      width: 120px;
      padding: 0 8px;
      text-transform: uppercase;
      font-size: 70%;
      font-weight: bold;
    }
  }
}

.btnClose {
  position: absolute;
  top: 0;
  left: -25%;
  margin-bottom: 60px;
  margin-left: -20px !important;
  background: #333;
  animation-delay: 5s;

  &:hover,
  &.hover {
    background: $red;
    animation-delay: 0s;
  }

  i {
    color: lighten($accentColor2,40%);
  }

  &.active {
    animation-delay: 5s;
    left: 50%;
    background: darken($accentColor2,20%);
  }
}

.project-detail {
  z-index: 0;
  background: black;
  color: #ccc;
  position: relative;
  width: 100%;
  height: 100vh;

  main {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
		text-align: center;
		bottom: 0;
		margin: 0;
  }
}

aside {
	display: flex;
  position: fixed;
  z-index: 10;
  left: -$paneWidth;
  width: $paneWidth;
  height: 100%;
  font: $default-text $font-face--condensed;
  overflow: auto;
  color: $accentColor-dark;
  background-color: rgba(255,255,255,.95);

  .project-content {
    position: relative;
    margin: 80px 40px;
		align-self: center;
  }

  // h3 {
  //   margin-top: 30px;
  //   margin-bottom: 0;
	//
  //   &:first-child {
  //     margin-top: 0;
  //   }
  // }

  h3 + span {
    color: #111;
    font: 300 12px/1.3 $font-face--default;
  }

  .project-name,
  .project-year .project-agency {
    text-transform: uppercase;
  }

  &.active {
    left: $menuWidthSmall;

    @media only screen and (max-width:680px) {
      left: 0;
    }
  }
}

h3 {
  font: normal 12px/1 $font-face--condensed;
  letter-spacing: $spacing;
  color: #777;
  text-transform: uppercase;
}

#about {
  h2 {
    font-weight: normal;
  }

  .fb-like {
    display: block;
    position: relative;
    margin: 60px 0 0;
  }
  background: #fff; //url(../img/about_joeyBaby.png) 50% 60px no-repeat;
  -webkit-overflow-scrolling: touch;

  article {
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
    padding-left: $menuWidthSmall;
  }

  #about-img {
    position: relative;
    text-align: center;
    margin: 40px 0;
  }

  #about-logo {
    background: url(../img/JOEY_LOGO.png) center center no-repeat;
    height: 109px;
  }

  header {
    margin: 100px 0 80px;
    text-align: center;
    color: #666;

    img {
      margin-bottom: 10px;
    }
  }

  nav#social {
    margin: 0 0 40px;
    text-align: center;

    a {
      display: inline-block;
      margin: 0 15px 5px;
      padding: 4px 8px;

      &:hover {
        background: #eee;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  aside {
    width: $paneWidth;
    display: none;
    margin-right: 40px;
    position: relative;
    padding: 0;
    vertical-align: top;
    height: auto;
    position: relative;
    left: 0;
    float: left;
    margin-top: -52px;
  }

  article {
    h1 {
      margin: 100px 0 80px;
      font: bold 72px/1.3 $font-face--condensed;
      color: #666;
      text-align: center;
    }
    clear: both;
    width: 70%;
    height: auto;
    margin: 0 auto;
    color: #666;
    text-align: left;
    position: relative;
    padding: 0 0 100px $menuWidthSmall;
  }
}

/* ———————————————

   Slideshow
   ———————————————
*/
// .royalSlider {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   position: absolute;
//   width: 100%;
//   min-height: 100%;
//   height: 100%;
//   top: 0;
//   bottom: 0;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   user-select: none;
//   overflow: hidden;
//
//   .rsImg {
//     margin-left: 0 !important;
// 		max-height: 98%;
// 		align-self: center;
//
//     @media only screen and (max-width:680px) {
//       max-width: 400px;
// 			height: auto;
//     }
//   }
// }

/* ————————————————————————————————————————————————————


   Media Queries
   ————————————————————————————————————————————————————
*/
@media only screen and (max-width: 959px) {
  .face-mask {
    display: none!important;
  }

  .scroll-horizontal > ul .project-pane {
    width: 250px;

    .info-panel {
      width: 246px;
      left: 2px;
      right: 2px;
      top: 50%;
      margin: -200px 0 0;
    }
  }
}

@media only screen and (max-width:680px) {
  #face-mask {
    display: none !important;
  }
  $mobileRadius: 5px;

  #mouse {
    display: none !important;
  }

  #about .fb-like {
    display: none;
  }

  .alert {
    font-size: 115%;
    padding: 10px;
  }

  #about {
    padding: 0;

    hr {
      width: 90%;
    }

    article {
      width: 100%;
      padding: 0;
    }

    p,
    nav#social {
      margin-left: 20px;
      margin-right: 20px;
    }

    nav#social {
      background: #eee;

      a {
        display: block;
        margin: 0;
        padding: 20px;
        text-align: left;

        &.first {

        }

        &.last {

        }

        &:hover {
          background: darken(#eee,10%);
        }
      }
    }
  }

  .project-detail {
    &.aside-open {
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  #slideshow {
    left: 0;
  }
  $navHeight: 60px;

  #nav-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: $navHeight;
    min-height: $navHeight;
    width: 100%;
    -webkit-filter: blur(0px)!important;

    #logo {
      top: 5px;
    }

    .buttons {
      float: right;
      padding-right: 15px;
    }

    .btnAbout,
    .btnNext,
    .btnPrev,
    .btnDetail,
    .btnClose {
      display: none;

      &.active {
        display: inline-block;
        position: relative;
        left: auto;
        margin: 10px 0 0 !important;
      }
    }

    .btnClose.active {
      margin-left: 20px;
    }

    .btnNext.active,
    .btnPrev.active {
      display: none!important;
    }

    #logo {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 35px;
      margin: 0;
      top: 0;
    }
  }

  aside {
    position: absolute;
    z-index: 8;
    height: auto;
    left: 0;
    width: 100%;
    top: -100%;
    overflow: hidden;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    height: auto;

    &.active {
      top: 0; //$navHeight;
      z-index: 10;
    }

    .project-content {
      margin: 60px 20px;
    }
  }

  .scroll-horizontal {
    padding-left: 0;
  }

  .projects-container {
    .project-list {
      flex-direction: column;

      .project-pane {
        float: none;
        width: 98%;
        max-width: 360px;
        margin: 20px auto 0;
        display: block;
        position: relative;
        height: 550px;

        &:first-child {
          margin-top: 60px;
        }

        .info-panel {
          top: 55%;
          left: 50%;
          width: 300px;
          margin-left: -150px;
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width:480px) {
  .alert {
    font-size: 80%;

    article {
      margin: 20px 0;
      width: 100%;
    }
  }

  .projects-container .project-pane {
    height: 250px;
  }

  #about {
    p,
    nav#social {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  aside {
    -webkit-overflow-scrolling: touch;

    &.active {
      top: 0;
    }
  }
  $navHeight: 40px;

  #nav-main {
    height: $navHeight;
    min-height: $navHeight;

    #logo {
      display: inline-block;
      -webkit-background-size: 80%;
      -moz-background-size: 80%;
      -o-background-size: 80%;
      background-size: 80%;
      top: -10px;
      left: 30px;
    }
  }

  .buttons {
    position: relative;
    top: -5px;
  }

  .btnAbout,
  .btnNext,
  .btnPrev,
  .btnDetail,
  .btnClose {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 !important;

    i {
      font-size: 0.75em!important;
    }
  }
}

@media only screen and (max-width:320px) {
  #about {
    p,
    nav#social {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  aside {
    -webkit-overflow-scrolling: touch;

    .project-content {
      margin: 60px 10px 100px;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  .container {
    background-image: url(../img/pw_maze_black_@2X.png);
    background-size: 46px 23px;
  }

  #about-logo {
    background-image: url(../img/JOEY_LOGO@2x.png);
    background-size: 50%;
  }
}
@import 'helper';
