@import "../../utils/variables.css";

:global(.modal) {
  position: fixed;
  /*height: calc(100vh - $header-height);*/
  top: 0;
  left: 0;
  right: 0;
  bottom: $header-height;
  overflow-x: auto;
  display: flex;
  z-index: 99;
  transition: opacity .5s $easeInOutQuad 0s, top 0s 2s;
  opacity: 1;
  background: $yellow;
  background: linear-gradient(to bottom, rgba($yellowRGB, 1), rgba($pinkRGB, .65));
  @media(min-width: $screen-sm){
    padding: 2rem;
  }
  @media(max-width: $screen-sm){
    padding: .5rem;
  }
}

:global(.modal-anim-enter) {
  opacity: 0.00;
  transition: all .5s ease-in-out;
}

:global(.modal-anim-enter.modal-anim-enter-active) {
  opacity: 1;
}

:global(.modal-anim-leave) {
  opacity: 1;
  transition: all .5s ease-in-out;
}

:global(.modal-anim-leave.modal-anim-leave-active) {
  opacity: 0.00;
}


/*

Animation: Wobble
*/
@keyframes :global(wobble-top) {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}


:global(.modal-wobble-enter) {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transform-origin: 0 100%;
  transition: all 2s ease-in-out;
}

:global(.modal-wobble-enter.modal-wobble-enter-active) {
  animation-name: wobble-top;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
