/*@import 'https://fonts.googleapis.com/css?family=PT+Sans';*/
@import "../../utils/variables.css";

.content {
  display: block;
  transition: all 1s ease-in;

  font-family: 'PT Sans', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
}
:global(.container){
  max-width: 1200px;
  padding-left: 4rem;
  padding-right: 4rem;
  @media(max-width: $screen-md){
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.content {
  display: flex;
  @media(min-width: $screen-md){
    flex-direction: row;
  }
  @media(max-width: $screen-md){
    flex-direction: column;
  }
}
.content section{
  display: flex;
  min-height: calc(100vh - 10rem);
  margin: 0;

}

.intro{
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #222;
  color: #ccc;
  @media(min-width: $screen-md){
    /*flex: 1 1 25%;*/
    width: 25%;
    padding: 4rem;
  }
  @media(max-width: $screen-md){
    padding: 1rem;
    align-items: center;
    justify-content: center;
    & > div{
      text-align: center;
    }
  }
}
.work {
  background: #eee;
  width: 100%;
  position: relative;
}
.work > div{
  margin: auto 0;
  width: 100%;
}
.project-card{
  display: inline-flex;
  width: 310px;
  margin: 0 .5rem 2rem;
}
