@import "../../utils/variables.css";
@import "./slick.css";
@import "./slick-theme.css";
$heightSansHeader: calc(100vh - 68px);
:global(*){
  min-height: 0;
  min-width: 0;
}
:global(.btn-back){
  z-index: 20;
  position: fixed;
  top: 4rem;
  right: 4rem;
  @media(max-width: $screen-md){
    top: 2rem;
    right: 2rem;
  }
}
:global(.mdl-chip){
  margin-right: .25rem;
  &:last-child{
    margin-right: 0;
  }
}
.content {
  min-height: $heightSansHeader;
  height: auto;
  overflow-y: scroll;
}
.content > section{
  flex: 1 0 100%;
  display: flex;
}
.container{
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: stretch;
  @media(min-width: $screen-md){
    max-height: $heightSansHeader;
  }
  @media(max-width: $screen-md){
    flex-direction: column;
    display: block;
    flex: none;
    min-height: $heightSansHeader;
    width: 100%;
    & > * {
      display: block;
      flex: none;
    }
  }
}
.aside{
  align-items: center;
  overflow-y: auto;
  padding: 2rem;
  @media(min-width: $screen-md){
    display: flex;
    flex: 0 0 330px;
    max-height: $heightSansHeader;
  }
  @media(max-width: $screen-md){
    flex: 1 0 auto;
    max-width: $screen-sm;
    margin: auto;
    & > div {
      flex-direction: row;
    }
  }
}
.aside > div{
  background-color: rgba(255,255,255,.75);
  border-radius: 3px;
  padding: 2rem;
  transition: transform 1s $easeInOutQuad .5s, opacity 1s $easeInOutQuad .5s;
  transform: translateX(-50%);
  opacity: 0;
  flex-direction: column;
}
.aside--mounted > div{
  transform: translateX(0%);
  opacity: 1;
}
.aside section + section{
  margin-top: 2rem;
}
.heading{
  text-transform: uppercase;
  font-size: .85rem;
  color: #999;
  line-height: 1;
  margin-bottom: .25rem;
}

.figures{
  flex: 0 1 auto;
  position: relative;
}
.slideshow{
  flex: none;
  position: absolute;
  margin: 0 auto;
  color: #333;
  height: 100%;
  background: #419be0;
  display: block;
}
.slide{
  width: 100%;
  height: 100%;
  text-align: center;
  height: $heightSansHeader;
  display: flex;
  flex-direction: column;
  @media(max-width: $screen-md){
    height: auto;
    min-height: 75vh;
  }
}
.slide img{
  margin: auto;
  max-height: 80vmin;
  @media(max-width: $screen-lg){
    max-width: 90%;
    height: auto;
  }
}
