@import "../../utils/variables.css";
@import "./slick.css";
@import "./slick-theme.css";
$headerHeight: 68px;
$heightSansHeader: calc(100vh - $headerHeight);
$whiteGradient: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%);

:global(*) {
  min-height: 0;
  min-width: 0;
}

:global(.btn-back) {
  z-index: 20;
  position: fixed;
  top: 4rem;
  right: 4rem;
  @media(max-width: $screen-md) {
    top: 2rem;
    right: 2rem;
  }
}

:global(.mdl-chip) {
  margin-right: .25rem;
  &:last-child {
    margin-right: 0;
  }
}

.content {
  min-height: $heightSansHeader;
  height: auto;
  overflow-y: scroll;
}

.content>section {
  flex: 1 0 100%;
  display: flex;
}

.container {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: stretch;
  flex: 1 0 auto;
  @media(min-width: $screen-md) {
    max-height: $heightSansHeader;
    justify-content: flex-end;
  }
  @media(max-width: $screen-md) {
    flex-direction: column;
    display: block;
    flex: none;
    min-height: $heightSansHeader;
    width: 100%;
    &>* {
      display: block;
      flex: none;
    }
  }
}

.aside {
  $aside-padding: 2rem;
  align-items: center;
  padding: $aside-padding;
  box-sizing: border-box;
  @media(min-width: $screen-md) {
    position: relative;
    max-height: $heightSansHeader;
    max-width: 25vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: $headerHeight;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*&:after{
      content: "";
      position: absolute;
      height: $aside-padding;
      bottom: $aside-padding;
      left: 0; right: 0;
      margin: 0 $aside-padding;
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    }*/
    & > div {
      overflow-y: auto;
    }
  }
  @media(min-width: $screen-md) and (max-width: 1450px){
    max-width: 33.333vw;
  }
  @media(max-width: $screen-md) {
    flex: 1 0 auto;
    max-width: $screen-sm;
    margin: auto;
  }
}

.aside > div {
  /*background-color: rgba(255, 255, 255, .75);*/
  background: $whiteGradient;
  border-radius: 3px;
  padding: 2rem;
  transition: transform .5s $easeInOutQuad .5s, opacity 1s $easeInOutQuad .5s;
  opacity: 0;
  flex-direction: row;
  @media(min-width: $screen-md){
    transform: translateX(-25%);
  }
  @media(max-width: $screen-md){
    transform: translateY(-10%);
  }
}

.aside--mounted > div {
  opacity: 1;
  @media(min-width: $screen-md){
    transform: translateX(0%);
  }
  @media(max-width: $screen-md){
    transform: translateY(0%);
  }
}

.aside section+section {
  margin-top: 2rem;
}

.heading {
  text-transform: uppercase;
  font-size: .85rem;
  color: #999;
  line-height: 1;
  margin-bottom: .25rem;
}

.slideshow {
  flex: 0 1 auto;
  position: relative;
  @media(min-width: $screen-md) {
    width: 75vw;
  }
  @media(min-width: $screen-md) and (max-width: 1450px){
    max-width: 66.666vw;
  }
  &:after{
    content: "";
    position: fixed;
    height: 2rem;
    bottom: $headerHeight;
    left: 0; right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  }
}

.slide {
  width: 100%;
  height: 100%;
  text-align: center;
  height: $heightSansHeader;
  display: flex;
  flex-direction: column;
  background: $whiteGradient;

  @media(min-width: $screen-md) {
    min-height: 75vmin;
  }
  @media(max-width: $screen-md) {
    height: auto;
    min-height: 95vmin;
  }
}

.slide img {
  margin: auto;
  max-height: 80vmin;
  max-width: 100%;
  @media(max-width: $screen-lg) {
    max-width: 90%;
    height: auto;
  }
}
